{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extra-js %}
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/_chartinit.js' %}"></script>
    <script>
        var temperatureDailyData = [
            {% for record in today_data %}
                "{{ record.temperature }}",
            {% endfor %}
        ];

        var pressureDailyData = [
            {% for record in today_data %}
                "{{ record.pressure }}",
            {% endfor %}
        ];

        var humidityDailyData = [
            {% for record in today_data %}
                "{{ record.humidity }}",
            {% endfor %}
        ];


        window.onload = function () {
            lineChartData.datasets[0].data = temperatureDailyData;
            var ctx = document.getElementById("tempCanvas").getContext("2d");
            window.myLine = new Chart(ctx).Line(lineChartData, {
                responsive: true,
                pointDot: false,
                pointHitDetectionRadius: 0,
                showTooltips: false
            });

            lineChartData.datasets[0].data = pressureDailyData;
            ctx = document.getElementById("pressCanvas").getContext("2d");
            window.myLine = new Chart(ctx).Line(lineChartData, {
                responsive: true,
                pointDot: false,
                pointHitDetectionRadius: 0,
                showTooltips: false
            });

            lineChartData.datasets[0].data = humidityDailyData;
            ctx = document.getElementById("humidCanvas").getContext("2d");
            window.myLine = new Chart(ctx).Line(lineChartData, {
                responsive: true,
                pointDot: false,
                pointHitDetectionRadius: 0,
                showTooltips: false
            });

        }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <h2>Today latest data at {{ latest.datetime|date:"H:i" }}</h2>
        <ul class="todayData">
            <li>
                Temperature: {{ latest.temperature }}&deg; C
            </li>
            <li>
                Pressure: {{ latest.pressure }} mbar
            </li>
            <li>
                Humidity: {{ latest.humidity }}%
            </li>
        </ul>

    </div>
    <div class="row graph">
        <h2>Temperature changing graph</h2>
        <canvas id="tempCanvas">
    </div>
    <div class="row graph">
        <h2>Pressure changing graph</h2>
        <canvas id="pressCanvas">
    </div>
    <div class="row graph">
        <h2>Humidity changing graph</h2>
        <canvas id="humidCanvas">
    </div>
{% endblock %}